* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: normal;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    cursor: pointer;
}

/* -------------------------------------------------------- */


/* --- Nav Bar --- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 0.0625rem solid #e0e0e0;
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);

}

.left-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 13px;
}

h1 {
    font-size: 22px;
}

.heading h1 {
    display: flex;
    justify-content: center;
    margin-left: 35px;
    gap: 3px;
}

.heading .head-img {
    padding-top: 2px;
}

.right-nav {
    padding-right: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#plus {
    color: black;
}


#account {
    font-size: 35px;
}

.navbar {
    padding: 10px 5px 10px 0px;
}

.material-symbols-outlined {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-sizing: border-box;
}

.navbar * {
    color: rgb(96, 95, 95)
}


/* --- body --- */

main {
    padding-top: 85px;
}

footer {
    margin: 0.6rem;
}

body {
    position: relative;
}

#hamburger {
    position: absolute;
    top: 8px;
    left: 5px;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: .5em 0;
    display: flex;
    background-color: white !important;
    flex-direction: column;
    min-width: 300px;
    box-shadow: 0 4px 4px 0 rgba(60, 64, 67, .3), 0 8px 12px 6px rgba(60, 64, 67, .15);
}

.sidebar label {
    padding: .4em 2em .6em .7em;
    color: #454546;
}

.sidebar .classes {
    padding: .5em 1.5em;
}

.classes span {
    background-color: rgb(25, 103, 210);
    padding: 10px 13.2px;
    border-radius: 50%;
    color: white;
}

.sidebar div {
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    padding: .4em 2em .6em .7em;
    border: 1px solid #ffffff;
    margin-right: .7em;
    color: #454546;

}

.sidebar div p {
    font-size: 15px;
}

.sidebar div .material-symbols-outlined {
    color: #5f6368;
}


.sidebar div:hover {
    background-color: #f3f3f3;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

.main:hover {
    background-color: #94b0fc40 !important;
    border: 1px solid #2962ff;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

.divide {
    margin: 1em 0;
}

.panel {
    padding-left: 20px;
    margin: 0;
    font-size: 14px;
    color: #2962ff;

    display: flex;
    align-items: center;
}

.todo a,
.calendar a {
    color: #2962ff;
    margin-right: 7px;
    letter-spacing: 1px;
}

.panel .material-symbols-outlined {
    padding-top: 2px;
}

.todo,
.calendar {
    display: flex;
    align-items: center;
}

.direction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 15px 0 11px;
}

.classroom {
    border: 0.0625rem solid #dadce0;
    border-top: none;
    border-radius: 7px;
    max-width: 18.75rem;
    min-width: 18.75rem;
    min-height: 18.375rem;
    margin: 0.7rem 0.5rem;
}

.start {
    padding: 0rem 0.3rem 0.5rem 1rem;
    min-height: 102.3px;
    max-height: 102.3px;
    border: 1px solid rgb(2, 152, 152);
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(2, 152, 152);
    box-sizing: border-box;
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.start .material-symbols-outlined {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

h2 {
    margin: 16px 0 25px 0;
    max-width: 80%;
    min-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 21px;
}

.mid {
    display: flex;
    flex-direction: row-reverse;
    height: 6.7em;
    padding: 1rem;
}

.mid .account-img {
    font-size: 100px;
    color: rgb(58, 47, 82);
    margin-top: -3.3rem;
    margin-right: 0.01rem;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.end {
    display: flex;
    justify-content: flex-end;
    padding: 0.2rem 0.5rem 0.5rem 0;
    border-top: 1px solid lightgray;
}

.end .material-symbols-outlined {
    margin-left: 3px;
    margin-top: 0;
    font-size: 22px;
}

.hide {
    display: none;
}

.help-dropdown {
    max-width: 250px;
    margin: 0 .5em;
    background-color: white;
    padding: .3em 0;
    border-radius: .3em;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
}

.help-dropdown li {
    padding: .5em 1em;
    font-size: 14px;
}

#add-icon-menu {
    margin: 0 2em;
    position: absolute;
    top: 48px;
    right: 100px;
    padding: .5em 0;
    border-radius: .3em;
    background-color: white;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.473), 0 1px 1px 0 rgba(0, 0, 0, 0.518), 0 1px 3px 0 rgba(0, 0, 0, 0.457);
}

#add-icon-menu li {
    padding: 1em;
}

footer {

    margin-top: 3em;
    position: fixed;
    left: 15px;
    bottom: 11px;
}

footer .material-symbols-outlined {
    color: rgb(96, 95, 95);
}


/* --- Hover --- */

.end .material-symbols-outlined:hover,
.navbar .material-symbols-outlined:hover,
#hamburger:hover {
    background-color: #f3f3f3;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.material-symbols-outlined:hover {
    cursor: pointer;
}

.todo:hover,
.calendar:hover {
    background-color: #d8e5ff48;
    color: rgb(2, 2, 163);
    border-radius: 5px;
    height: 40px;
}

.todo .panel-text:hover,
.calendar .panel-text:hover {
    color: rgb(2, 2, 163);
}

.help-dropdown li:hover,
#add-icon-menu li:hover {
    background-color: #96969642;
}

footer .material-symbols-outlined:hover {
    background-color: #7f7f7f42;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.start .material-symbols-outlined:hover {
    background-color: #7f7f7f42;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.heading:hover,
h5:hover {
    text-decoration: underline;
}

.classroom:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    cursor: pointer;
}


/* --- Media-Queries --- */

@media (max-width:630px) {

    h2 {
        margin-top: 20px;
        font-size: 17px;
        margin-bottom: 34px;
    }

    h5 {
        height: 18.67px;
    }

    .panel-text {
        display: none;
    }

    .panel .material-symbols-outlined {
        color: rgb(75, 75, 75);
        font-size: 25px;
        margin: 0 2px;
    }

    .todo:hover,
    .calendar:hover {
        background-color: transparent;
    }

    .material-symbols-outlined:hover,
    .material-symbols-outlined:hover {
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background-color: #f3f3f3;
    }
}

@media (max-width:480px) {
    .right-nav a:nth-of-type(2) {
        display: none;
    }

    .right-nav a:last-child {
        display: none;
    }

    .direction {
        justify-content: center;
    }
}
